

	.login_div1 , .login_div2
	{
		color: #91c7eb;
		width: 600px;
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{

	display: inline-block;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#user1
{
	font-size: 20px;
}

#user2
{
	font-size: 20px;
}

#color
{
	background-color: lightgreen;
	color: black;
	font-size: 20px;
	height: 40px;
	border-radius: 10px;
}

#head
{
   font-size: 40px;
   color: lightpink;		
}


.body_background
{
	background-image: url(MATH.2.jpg);
    background-position: center;
    background-size: cover;
}

#image
{
	height: 200px;
	width: 200px;
	border-radius: 20px;
}

#sub-heading
{
	color: white;
	font-size: 20px;
}
#div1
{
	background-color: lightpink;
}

#p1
{
	color: darkblue;
}

#p2
{
	color: darkblue;
}

#user1
{
	color: darkblue;
}

#user2
{
	color: darkblue;
}

#player1_input
{
	background-color: lavender;
}

#player2_input
{
	background-color: lavender;
}

#head_pic
{
	border: 50px;
}

